TRUSTED_ORIGINS=http://localhost:5173,http://localhost:3000

BETTER_AUTH_SECRET="YOUR-SECRET-KEY"

BETTER_AUTH_URL=http://localhost:3000

NODE_ENV=development

DATABASE_URL="YOU-NEON-DATABASE-CONNECTION-STRING"

AI_API_KEY="YOUR-OPENAI-API-KEY"

AI_MODEL="AI-MODEL"